@import "variables";

header {
	background: $turquoise;
}

.menu-client {
	background: #73786C;

	.active  {
		background:transparent;
	}
}

nav {

	.navbar-nav  {

		.nav-link {
			color: $lightblack;
			display: inline;
	
			@media (min-width: 992px){
				padding: 12px !important;
			}

			&:hover{
				color: white;
			}
		}

		.title a {
			color: white;
			font-size: 20px;
		}
	}
}


/* Animation */

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: $lightblack;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
	border: none;
	background: transparent !important;
	margin-top: -10px;
}

.navbar-toggler:focus{
	outline: none;
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
	opacity: 0;
}
 
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

