@import "variables";

body {
    font-family: $regularfont;
    font-weight: 500;
	color: $lightblack;
}

p{
	font-size: 15px;
}


.copy {
    p {
        font-size: 16px;
    }

    a {
        color: $lightblack;
        font-size: 16px;
        text-decoration: underline;
    
        &:hover {
            color: gray;
        }
    }
    
}

/* Headings */

h1 {
	
}
h2 {
	
}

h3 {
	font-weight: 700;
	font-size: 23px;
	margin-bottom: 20px;
	margin-top:0px;
}

h4 {
    font-weight: 700;
	font-size: 19px;
	margin-top:0px;
}

/* General styles */


i {
	margin-right: 10px;
}

img {
	object-fit: cover;
}

.rounded-img {
    border-radius: 60px;
    height: 60px;
    width: 60px;
}

/* Containers, rows and columns */

@media (min-width: 576px){
	.container {
		max-width: 600px;
	}
}

@media (min-width: 768px){
	.container {
		max-width: 800px;
	}
}

@media (min-width: 992px){
	.container {
		max-width: 	1050px;
	}
}

@media (min-width: 1400px){
	.container {
		max-width: 1300px;
	}
}
.container {
    padding-right: 40px;
    padding-left: 40px;
}

@media (max-width: 568px){

	.small-padding{
		padding-right: 15px;
    	padding-left: 15px;
	}
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

/* Different widths */


.w100{
	width: 100%;
}

@media (min-width: 768px){


	.w30 {
		width:30%;

	}

	.w50{
		width: 40%;
	}

	.w60{
		width: 60%;
	}

	.w70{
		width: 70%;
	}

	.w75 {
		width:75%;
	}

	.w80{
		width: 80%;
	}

	.w90{
		width: 90%;
	}
}


.gray-bg {
	background: $lightgray;
	min-height: 100vh;
}

.white-bg {
	background: white;
	min-height: 100vh;
}