$regularfont: "Montserrat",sans-serif;
$lightblack: #1D1D1B;
$yellow: #EEDF00;
$new-yellow: #EEDF00;
$gray: #616161;
$turquoise: #37CDB3;
$darkturquoise: #31b8a0;
$lightgray: #EDEDED;
$salmon: #FF6666;
$dark-salmon: #d65252;
$note: #EEDF00;